<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	version="5.0">

	<display-name>AlmacenBBDD</display-name>

	<!-- Welcome Files -->
	<welcome-file-list>
		<welcome-file>menu.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- Recurso JDBC para la base de datos -->
	<resource-ref>
		<description>Base de datos MySQL</description>
		<res-ref-name>jdbc/MiDataSource</res-ref-name>
		<res-type>jakarta.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<!-- Configuración del Servlet -->
	<servlet>
		<servlet-name>ProductoServlet</servlet-name>
		<servlet-class>com.almacen.servlet.ProductoServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ProductoServlet</servlet-name>
		<url-pattern>/ProductoServlet</url-pattern>
	</servlet-mapping>

</web-app>
